html {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    min-height: 4000px;
    display: flex;
    flex-direction: column;
}

html a {
    text-decoration: none;
}

html li {
    list-style-type: none;
}

html ul {
    padding: 0;
    margin: 0;
}

/* --- Header --- */

.header {
    border-bottom: 1px solid #C4C4C4;
    display: flex;
    justify-content: center;
}

.header-container {
    display: flex;
    align-items: center;
    height: 100px;
    width: 1218px;
}

.header-container a {
    margin: 11px 0 12px 0;
}

.location input {
    background-image: url("../img/adress.svg");
    background-repeat: no-repeat;
    background-position: 15px;
    background-size: 22px 22px;
    height: 50px;
    width: 500px;
    padding-left: 47px;
    border-radius: 5px;
    border: 2px solid #323232;
    color: #A1A1A1;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 100px;
}

.location input:focus {
    color: #323232;
}

.btn {
    height: 50px;
    width: 98px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.btn a {
    display: flex;
    text-decoration: none;
    height: 50px;
    width: 98px;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    width: 100%;
    height: 100%;
    margin: 0;
    padding-top: 15px;
    padding-left: 20px;
}

.btn:hover {
    opacity: 0.8;
}

.orange {
    background-color: #EF781A;
    margin-left: auto;
}

.green {
    background-color: #00D008;
    margin-left: 30px;
}

/* --- Promo-section --- */

.promo {
    width: 1218px;
    margin: 35px auto 0;
}

.promo-section {
    background-color: #FFD086;
    height: 380px;
    display: flex;
    border-radius: 10px;
}

.content {
    flex-basis: auto;
    margin-right: 30px;
}

.content1 {
    font-size: 2.25rem;
    font-weight: 800;
    height: 88px;
    width: 538px;
    margin: 111px 0 0 60px;
}

.content2 {
    font-size: 1.25rem;
    font-weight: 500;
    height: 48px;
    width: 456px;
    margin: 25px 0 0 60px;
}

.picture img {
    transform: rotate(5.11deg);
    animation: shake 1s linear infinite alternate;
}

@keyframes shake {
    from {
        transform: rotate(0deg);
    }
    to {
        ransform: rotate(5.11deg);
    }
}

/* --- restaurants --- */

.restaurants {
    display: flex;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 30px;
}

.restaurants-name {
    font-size: 1.25rem;
    font-weight: 700;
}

.restaurants-search {
    margin-left: auto;
}

.restaurants-search input {
    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 25px 25px;
    height: 50px;
    width: 500px;
    padding-left: 45px;
    border-radius: 10px;
    border: 2px solid #A1A1A1;
    color: #A1A1A1;
    font-size: 1rem;
    font-weight: 500;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
}

.restaurants-search input:focus {
    color: #323232;
}

/* --- Grid  --- */

.grid {
    display: grid;
    grid-template-columns: repeat(3, 386px); 
    grid-template-rows: repeat(5, 232px);
    gap: 30px;
}

.card {
    transition: .5s;
}

.card a {
    text-decoration: none;
    display: inline-block;
    height: 100%;
    width: 100%;
}

.card:hover {
    transform: scale(1.1);
}

.card-info {
    position: relative;
}

.shares {
    border-radius: 5px;
    color: white;
    font-size: 0.875rem;
    font-weight: 800;
    padding-top: 11px;
    padding-left: 21px;
    position: absolute;
    top: 10px;
    left: 11px;
}

.first {
    background-color: #FF800C;
    height: 39px;
    width: 139px;
}
 
.second, .fourth {
    background-color: #FF0000;
    height: 56px;
    width: 167px;
}

.third {
    background-color: #FF0000;
    height: 39px;
    width: 236px;
}

.description {
    background-color: white;
    position: absolute;
    top: 140px;
    height: 92px;
    width: 386px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.delivery {
    display: flex;
    padding-top: 14px;
    padding-left: 20px;
}

.delivery-time {
    font-size: 0.875rem;
    font-weight: 600;
    background-color: #FE7D34;
    border-radius: 5px;
    display: flex;
    color: black;
    height: 30px;
    width: 108px;
    padding: 4px 3px;
    align-items: center;
    margin-right: 18px;
}

.delivery-time::before {
    content: "";
    background-image: url("../img/time.svg");
    background-repeat: no-repeat;
    display: inline-block;
    height: 24px;
    width: 22px;
    margin-right: 6px;
}

.delivery-cost {
    font-size: 0.875rem;
    font-weight: 600;
    background-color: #00D008;
    border-radius: 5px;
    display: flex;
    color: black;
    height: 30px;
    width: 89px;
    padding: 3px 4px;
    align-items: center;
}

.delivery-cost::before {
    content: "";
    background-image: url("../img/bike.svg");
    background-repeat: no-repeat;
    display: inline-block;
    height: 24px;
    width: 22px;
    margin-right: 6px;
}

.card-name {
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
    margin: 10px 0 0 20px;
}

.card:first-child {
    background-image: url("../img/mac.png");
    background-repeat: no-repeat;
}

.card:nth-child(2) {
    background-image: url("../img/mafia.png");
    background-repeat: no-repeat;
}

.card:nth-child(3) {
    background-image: url("../img/kfc.png");
    background-repeat: no-repeat;
}

.card:nth-child(4) {
    background-image: url("../img/pizza_house.png");
    background-repeat: no-repeat;
}

.card:nth-child(5) {
    background-image: url("../img/rucola.png");
    background-repeat: no-repeat;
}

.card:nth-child(6) {
    background-image: url("../img/lviv_crois.png");
    background-repeat: no-repeat;
}

.card:nth-child(7) {
    background-image: url("../img/mamamia.png");
    background-repeat: no-repeat;
}

.card:nth-child(8) {
    background-image: url("../img/hlebniy.png");
    background-repeat: no-repeat;
}

.card:nth-child(9) {
    background-image: url("../img/time_cafe.png");
    background-repeat: no-repeat;
}

.card:nth-child(10) {
    background-image: url("../img/salsteria.png");
    background-repeat: no-repeat;
}

.card:nth-child(11) {
    background-image: url("../img/green13.png");
    background-repeat: no-repeat;
}

.card:nth-child(12) {
    background-image: url("../img/vapiano.png");
    background-repeat: no-repeat;
}

.card:nth-child(13) {
    background-image: url("../img/papa_jon.png");
    background-repeat: no-repeat;
}

/* --- Shops --- */

.shops {
    font-size: 2.25rem;
    font-weight: 700;
    margin: 30px 0;
}

.grid-shops {
    display: grid;
    grid-template-columns: repeat(3, 386px); 
    grid-template-rows: repeat(2, 232px);
    gap: 30px;
}

.grid-shops .card:nth-child(1) {
    background-image: url("../img/fora.png");
    background-repeat: no-repeat;
}

.grid-shops .card:nth-child(2) {
    background-image: url("../img/atb.png");
    background-repeat: no-repeat;
}

.grid-shops .card:nth-child(3) {
    background-image: url("../img/silpo.png");
    background-repeat: no-repeat;
}

.grid-shops .card:nth-child(4) {
    background-image: url("../img/eva.png");
    background-repeat: no-repeat;
}

/* --- Header-terra ---  */

.header-terra {
    background-color:#F8F4FC;
    margin: auto 0;
}

.flex-terra {
    display: flex;
    align-items: center;
}

.logo:hover {
    opacity: 0.8;
}

.header-container-terra {
    width: 1218px;
    margin: 0 auto;
    height: 118px;
}

.navigation {
    display: flex;
}

.navigation-item {
}

.navigation-item a {
    color: #354657;
    font-size: 1rem;
    font-weight: 700;
}

.navigation-item:not(:first-child) {
    margin-left: 50px;
}

.navigation-item:first-child {
    margin-left: 90px;
}

.navigation-item a:hover {
    opacity: 0.7;
}

.nav {
    margin-left: auto;
}

.nav a:not(:first-child) {
    margin-left: 42px;
}

.nav a:hover {
    opacity: 0.7;
}

.bread-crumbs {
    display: flex;
}

.bread-crumbs-item {
    margin-top: 16px;
}

.bread-crumbs-item a {
    font-size: 1rem;
    font-weight: 400;
    color: #626262;
}

.bread-crumbs-item a:hover {
    text-decoration: underline;
    color: #626262;
}

.bread-crumbs li:not(:first-child)::before {
    content: "→";
    margin: 0 10px;
}

/* ----- Footer ----- */

.footer {
    background-color: black;
    margin-top: auto;
}

.contacts {
    width: 1218px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 100px;
}

.contacts-item {
    font-size: 1.3rem;
}

.contacts-item:first-child {
    margin-right: 27px;
}

.contacts-item:nth-child(2) {
    margin-right: 16px;
}

.contacts-item a {
    text-decoration: none;
    color: white;
}

.contacts-item a:hover {
    color: #b3a8a8;
}

.contacts-list {
    display: flex;
}

.social-netwok {
    display: flex;
    margin-left: auto;
}

.social-netwok-item {
    display: flex;
    margin-left: 10px;
}

.social-netwok-item a {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.social-netwok-item:nth-child(1) {
    background-image: url("../img/1335987452.jpg");
    background-position: -88px -12px;
    background-size: 130px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.social-netwok-item:nth-child(2) {
    background-image: url("../img/1335987452.jpg");
    background-position: -142px -11px;
    background-size: 130px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.social-netwok-item:nth-child(3) {
    background-image: url("../img/1335987452.jpg");
    background-position: -180px -12px;
    background-size: 130px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.social-netwok-item:hover {
    opacity: 0.7;
}